<!DOCTYPE html>
<html>
    <head>
                <!-- CSS -->

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="css/style.css"/>

                <!-- Font Awesome -->

		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
        <title>BlogBusters</title>
    </head>
    <body>
        <nav>
                
                <!-- Angies Logo -->

            <img id="logo" src="../img/logo.jpg">
                <!-- Header Links / Icons -->
            <ul class="linkul">
                
            </ul>
        </nav><br><br>
            <%= yield %>

                <!-- Scripts -->

        <script src="js/cookies.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>