
<form method="POST" action="/login">
	<fieldset>
		<legend>Login</legend>
		<label for="user">User</label>
		<input name-"user" /><br />
		<label for="pass">Pass</label>
		<input type="password" name="password" /><br />
		<input type="submits" value="Login" />
	</fieldset>
</form>