           

               /* Style Sheet */
























































































@font-face{
     font-family: 'Timeburner';
     src: url(../fonts/Timeburner/timeburnernormal.ttf);
}
@font-face{
     font-family: 'TimeburnerBold';
     src: url(../fonts/Timeburner/timeburnerbold.ttf);
}

@font-face {
     font-family: 'Breve';
     src: url(../fonts/BREVE2.ttf);
}
@font-face {
     font-family: 'Quango';
     src: url(../fonts/nimavisual_quango/Quango.otf);
}

@font-face {
     font-family: 'Painter';
     src: url(../fonts/Painterfont/"Painter.ttf");
}


				/*  Modal  */


/*.modal {
     visibility: hidden;
     position: absolute;
     left: 0px;
     top: 0px;
     width:100%;
     height:100%;
     text-align:center;
     z-index: 1000;
}

#modalcontent {
     color: black;
     width:300px;
     margin: 100px auto;
     background-color: #fff;
     border:1px solid #000;
     padding:15px;
     text-align:center;
}*/
